<% provide(:title, "Working-Users") %>

<h1>出勤中社員一覧</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered table-working table-striped">
      <thead>
        <tr>
          <th class="col-md-5">社員番号</th>
          <th class="col-md-5">名前</th>
        </tr>
      </thead>
      
      <tbody>
        <% @users.each do |user| %>
          <% user.attendance_systems.each do |attendance_system| %>
            <% if (Date.current == attendance_system.worked_on) && attendance_system.started_at != nil && attendance_system.finished_at == nil %>
              <tr>
                <td><%= user.employee_number %></td>
                <td><%= user.name %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
