@import "bootstrap-sprockets";
@import "bootstrap";

.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-signup {
  margin-top: 10px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin-top: 10px;
}

.label-search {
  margin-top: 10px;
  margin-bottom: 5px;
}


#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

#user_table {
  tr {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

