@import "bootstrap-sprockets";
@import "bootstrap";

.user-table {
  vertical-align: middle;
  text-align: center;
}

.user-index {
  margin-top: 5px;
  display: block;
}

.label-signup {
  margin-top: 10px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin-top: 10px;
}

.label-search {
  margin-top: 10px;
  margin-bottom: 5px;
}

#table-overtime {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

#user_table {
  tr {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.btn-search {
  margin-bottom: 15px;  
}

.dropdown-superior {
  margin-bottom: 10px;
}

.overtime-data {
  display: inline-block;
  width: auto;
}

.field-file {
  display: none;
}
