<% provide(:title, "Base-new") %>
<% provide(:class_text, "base-new") %>
<% provide(:btn_text, "新規作成") %>


<h1>拠点新規作成</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'base_form' %>
  </div>
</div>